---
layout: default
title: Releases
---

{% assign org_href = "https://github.com/elementary" %}

<table class="releases">
  <thead>
    <th>Repository</th>
    <th>Release</th>
    <th>Status</th>
  </thead>
  <tbody>
  {% for repo in site.data.repos %}
    {% assign repo_href = org_href | append: "/" | append: repo.name %}
    {% assign commits_href = repo_href | append: "/compare/" | append: repo.releases.first.version | append: "...master" %}
    <tr id="{{ repo.name }}" >
      <td>
        <a href="{{ repo_href }}" class="name">{{ repo.name }}</a>
        <a class="version" href="{{ repo.releases.first.href }}">{{ repo.releases.first.version }}</a>
      </td>
      <td>
        <time datetime="{{ repo.releases.first.release_date }}" title="{{ repo.releases.first.release_date }}">{{ repo.releases.first.release_date | date: "%b %e, %Y" }}</time>
      </td>
      <td>
        {% if repo.new_commits == 0 %}
          <span class="status good">Up to date</span>
        {% elsif repo.new_commits == 1 %}
          <span class="status">
            <a href="{{ commits_href }}">{{ repo.new_commits }} commit</a>
            since release
          </span>
        {% elsif repo.new_commits > 10 %}
          <span class="status critical">
            <a href="{{ commits_href }}">{{ repo.new_commits }} commits</a>
            since release
          </span>
        {% else %}
          <span class="status">
            <a href="{{ commits_href }}">{{ repo.new_commits }} commits</a>
            since release
          </span>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<style>
.name {
  display: block;
  font-weight: bold;
}

.status a {
  color: inherit;
}

.good {
  color: #206b00;
}

.critical {
  color: #7a0000;
}
</style>
