name: Build JSON

on:
  push:
    branches:
      - master
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 * * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install PyGithub
    - name: Run script and commit changes
      run: |
        python release.py
        echo "Setting up git credentials..."
        git remote set-url origin https://x-access-token:"$GITHUB_TOKEN"@github.com/"$GITHUB_REPOSITORY".git
        git config --global user.email "builds@elementary.io"
        git config --global user.name "elementaryBot"
        echo "Git credentials configured."

        git checkout master
        git add .
        git commit -m "Automatic update of data" && git push --set-upstream origin master || true
      env:
        GITHUB_TOKEN: ${{ secrets.GIT_USER_TOKEN }}
