 name: Build APKs
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - run: flutter pub get
      - run: flutter build apk -t lib/main_user.dart --release
      - run: cp build/app/outputs/flutter-apk/app-release.apk user-app.apk
      - run: flutter build apk -t lib/main_admin.dart --release
      - run: cp build/app/outputs/flutter-apk/app-release.apk admin-app.apk
      - uses: actions/upload-artifact@v4
        with:
          name: apks
          path: |
            user-app.apk
            admin-app.apk
